*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: rgba(240, 227, 204, 0.9);
    color:olive;
    line-height: 8vh;
}

.weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin: 1% auto;
}

.weather div{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.city{
    display: block;
    width: 40%;
    float: left;
    border: 2px solid black;
    line-height: 3vh;
}

.getwt{
    width: auto;
    padding: 1%;
    margin: 0 auto;
    border: 3px solid grey;
    border-radius: 10px;
    background-color: rgb(42, 139, 204);
    color: rgba(0,0,0,0.7);
    font-weight: bolder;
    font-size: large;
}

.res{
    width: 90%;
    margin: 0 auto;
}